#niaratitle {

    color: #231F20;
    font-size: 10vh;
}

.niarap {
    color: #231F20;
    font-weight: bolder;
    font-size: 2vh
}

#backgroundp {

    background-color: #DBE9F4;
    
   height: 45vh;
}